<footer>
          <div class="row">
              <div class="col-lg-12 footer">
                <div style="display: table; width:15%; height: 98px; float:left; text-align:center;">
                  <div style="display: table-cell;vertical-align: middle;">
                    <img src="{{ "images/company_logo.png"}}" alt="Company logo"/>
                  </div>
                </div>
                <div style="width:85%; height: 98px; float:right;padding:32px 0px">
                  &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved.
                  <br />
                  {% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}
                  {% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }}
                </div>
              </div>
           </div>
</footer>
