---
title: Blog
sidebar: home_sidebar
keywords: news, blog, updates, release notes, announcements
permalink: Blog.html
toc: false
folder: Blog
---
<div class="home">

    <div class="post-list">
        {% for post in site.posts limit:10 %}


        <h2><a class="post-link" href="{{ post.url | remove: "/" }}">{{ post.title }}</a></h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} /
            {% for tag in post.tags %}

            <a href="{{ "tag_" | append: tag | append: ".html"}}">{{tag}}</a>{% unless forloop.last %}, {% endunless%}

            {% endfor %}</span>
        <p>
            {% if post.summary %}
             {{ post.summary | strip_html | strip_newlines | truncate: 160 }}
            {% else %}
             {{ post.content | strip_html | strip_newlines | remove: " " | truncate: 120 }}
            {% endif %}
        </p>

        {% endfor %}

        <p><a href="feed.xml" class="btn btn-primary navbar-btn cursorNorm" role="button">RSS Subscribe{{tag}}</a></p>

        <hr />
        <p>按时间查看所有<a href="Blog_archive.html">Blog</a>. </p>

    </div>
</div>
